{{ define "main" }}

<main class="blog-list-page">

    <header class="blog-header">
        <h1>Blogs</h1>

        <p class="blog-description">
            A collection of my thoughts when I was idle- shower thoughts if you may call them.
            These felt profound at that time, but believe me, they are not.  
        </p>
    </header>

    <section class="blog-list">

        {{ range .Site.RegularPages }}
        <a href="{{ .RelPermalink }}" class="blog-preview-link">
            <article class="blog-preview">

                <h2>{{ .Title }}</h2>

                <p class="blog-meta">
                    {{ .Date.Format "Jan 2, 2006" }}
                </p>

                <p class="blog-summary">
                    {{ truncate 180 .Summary }}
                </p>

            </article>
        </a>
        {{ end }}

    </section>

</main>

{{ end }}