{{ define "main" }}

<main class="blog-list-page">

    <header class="blog-header">
        <h1>Blogs</h1>

        <p class="blog-description">
            A collection of articles, notes, tutorials, project writeups,
            random thoughts, and things I learned while building software.
        </p>
    </header>

    <section class="blog-list">

        {{ range .Site.RegularPages }}
        <article class="blog-preview">

            <h2>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </h2>

            <p class="blog-meta">
                {{ .Date.Format "Jan 2, 2006" }}
            </p>


            <p class="blog-summary">
                {{ truncate 180 .Summary }}
            </p>

        </article>
        {{ end }}

    </section>

</main>

{{ end }}